<p id="notice"><%= notice %></p>

<h1>Products</h1>

<%= colmun_chart @products.pluck(:name, :quant), title: 'stock productos', label %>
<%# <!-- Entregandole los datos de la variable -->
  <%= column_chart @products.pluck(:name, :quant), label: "cantidad", xtitle: "Productos", ytitle: "Cantidad", colors: ["#98FB98"], messages: {empty: "No hay datos :("}  %>

<!-- Grafico redondo desde un metodo en el controlador -->
  <%# <%= pie_chart @product_per_category, label: "cantidad" , title: "Distribucion de productos por categoria", messages: {empty: "Aun no hay categorias"} %>


  <%# <% hogar = {name: "hogar", data: [['2021-03-01', 10], ['2021-03-02', 12], ['2021-03-03', 9]]} %> %>
  <%# <% computacion = {name: "computacion", data: [['2021-03-01', 10], ['2021-03-02', 15], ['2021-03-03', 19]]} %> %>
  <%# <% datos = [hogar, computacion] %> %> %> %>


<table>
  <thead>
    <tr>
      <th>Category</th>
      <th>Name</th>
      <th>Price</th>
      <th>Quant</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td>
          <ul>
            <% product.categories.each do |category| %>
              <li><%= category.name %></li>
            <% end %>
          </ul>
        </td>
        <td><%= product.name %></td>
        <td><%= number_to_currency(product.price, precision: 0, unit: 'CLP$', delimiter: '.') %></td>
        <td><%= product.quant %></td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Add to cart', add_product_path(product), method: :post %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Product', new_product_path %>
